<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell small-8">
            <app-title
                [title]="'Recent Articles'">
            </app-title>
            <div class="grid-x grid-margin-x">
                <div class="cell small-4">
                    <app-article
                        [image]="'https://images.unsplash.com/photo-1461749280684-dccba630e2f6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e5a31d03ddee66863a599421f792e07b&w=1000&q=80'"
                        [title]="'New website update!'"
                        [author]="'Tovven'"
                        [time]="'10min ago'">
                    </app-article>
                </div>
                <div class="cell small-4">
                    <app-article
                        [image]="'https://i.pinimg.com/736x/4d/66/17/4d6617866631fb5b38e1320d5c58bc0f--the-room-created-by.jpg'"
                        [title]="'Movie night!'"
                        [author]="'Del'"
                        [time]="'1h ago'">
                    </app-article>
                </div>
                <div class="cell small-4">
                    <app-article
                        [image]="'https://images.unsplash.com/photo-1461749280684-dccba630e2f6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e5a31d03ddee66863a599421f792e07b&w=1000&q=80'"
                        [title]="'New website update!'"
                        [author]="'Tovven'"
                        [time]="'10min ago'">
                    </app-article>
                </div>
                <div class="cell small-4">
                    <app-article
                        [image]="'https://i.pinimg.com/736x/4d/66/17/4d6617866631fb5b38e1320d5c58bc0f--the-room-created-by.jpg'"
                        [title]="'Movie night!'"
                        [author]="'Del'"
                        [time]="'1h ago'">
                    </app-article>
                </div>
            </div>
        </div>
        <div class="cell small-4">
            <app-title
                [title]="'Newly added bages'"
                [bgColor]="'pink'">
            </app-title>
            <app-content>
                <div class="grid-x">
                    <div class="cell small-3 align-center">
                        <app-badge
                            [badgeCode]="'GAL06'">
                        </app-badge>
                    </div>
                    <div class="cell small-3 align-center">
                        <app-badge
                            [badgeCode]="'GAL06'">
                        </app-badge>
                    </div>
                    <div class="cell small-3 align-center">
                        <app-badge
                            [badgeCode]="'GAL06'">
                        </app-badge>
                    </div>
                    <div class="cell small-3 align-center">
                        <app-badge
                            [badgeCode]="'GAL06'">
                        </app-badge>
                    </div>
                    <div class="cell small-3 align-center">
                        <app-badge
                            [badgeCode]="'GAL06'">
                        </app-badge>
                    </div>
                    <div class="cell small-3 align-center">
                        <app-badge
                            [badgeCode]="'GAL06'">
                        </app-badge>
                    </div>
                    <div class="cell small-3 align-center">
                        <app-badge
                            [badgeCode]="'GAL06'">
                        </app-badge>
                    </div>
                    <div class="cell small-3 align-center">
                        <app-badge
                            [badgeCode]="'GAL06'">
                        </app-badge>
                    </div>
                </div>
            </app-content>

            <app-title
                [title]="'Radio history'"
                [bgColor]="'orange'">
            </app-title>
            <app-content>
            </app-content>
        </div>
    </div>
</div>