.wrapper {
    width: 100%;
    height: 8rem;
    border: 3px solid #ffffff;
    overflow: hidden;

    border-radius: 5px;
}

.overflow-wrapper {
    width: 400%;
    height: 8rem;
    margin-left: -300%;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.overflow-wrapper div {
    position: relative;
    width: 25%;
    display: inline-block;
    height: 100%;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.overflow-wrapper div span {
    position: absolute;
    bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    font-size: 0.8rem;
    left: 1rem;
    border-radius: 5px;
}