<div class="wrapper">
    <div class="overflow-wrapper" [ngStyle]="{ 'margin-left': marginLeft }">
        <div style="background-image: url(https://images.habbo.com/habbo-web/america/en/assets/images/app_summary_image-1200x628.85a9f5dc.png)">
            <span>Hide and seek competition! 06/24</span>
        </div>
        <div style="background-image: url(https://www.idcgames.com/media_xml/mediaFiles/screenshot-13423705052016-1280x720.jpg)">
            <span>This is a lorum ipsum text for fill</span>
        </div>
        <div style="background-image: url(https://vignette.wikia.nocookie.net/habbo/images/8/86/Xcdxvfdgfdgjj.png/revision/latest?cb=20120621185205&path-prefix=en)">
            <span>The sleep over party! make sure to be there!</span>
        </div>
        <div style="background-image: url(https://vignette.wikia.nocookie.net/habbo/images/9/98/Sweden.png/revision/latest?cb=20100417044704&path-prefix=en)">
            <span>Welcome to habbo hotel!</span>
        </div>
    </div>
</div>